QMenu {
    background-color: #ABABAB; 
    border: 1px solid black;
}

QMenu::item {
    background-color: transparent;
	padding: 8px 8px;
}

QMenu::item:selected { 
    background-color: #654321;
	color:white;
}

QMenuBar {
    background-color: red;
    spacing: 3px; /* spacing between menu bar items */
}

QMenuBar::item {
    padding: 8px 8px;
    background: transparent;
    border-radius: 4px;
	
}

QMenuBar::item:selected { /* when selected using mouse or keyboard */
    
	background-color: #BFBFBF;
}

QMenuBar::item:pressed {
    background: #BFBFBF;
}